.pag_pagination {
    list-style-type: none;
    cursor: pointer;
}

.pag_each {
    border: 1px solid rgb(84, 84, 206);
    display: inline-block;
    background-color: rgb(199, 199, 199);
    padding: 3px;
    justify-content: center;
    margin-left: 2rem;
    font-family: Consolas, 'Courier New';
    height: 20px;
    width: 30px;
    text-align: center;
    color: rgb(35, 8, 56);
    font-size: 1.2rem;
    border-radius: 6px;
    margin-top: 2rem;
}

.pag_each:hover {
    background-color: #f3e0e0;
}

span {
    color: #11095c;
    text-shadow: 30px 0 30px #b086d3, 0 0 30px #4132ce, 0 0 30px rgb(86, 241, 65), 0 0 30px rgb(65, 191, 241), 0 0 30px rgb(202, 216, 81), 0 0 30px rgb(179, 241, 65);
    font-size: 1.3rem;
    font-family: Consolas, 'Courier New';
}