.search_container {
    position: relative;
    align-content: start;
}

.search {
    width: 20rem;
    outline: #f3e0e0 3px solid;
    height: 1.7rem;
    margin-left: 15rem;
    border-radius: 0.5rem;
    border: none;
    text-align: center;
    font-size: 1.2rem;
}

.search_button {
    position: absolute;
    top: 0;
    height: 100%;
    outline: #f3e0e0 5px solid;
    padding-left: 10px;
    cursor: pointer;
    margin-left: 1rem;
    border: none;
    font-size: 15px;
    border-radius: 0.5rem;
    background-image: linear-gradient(40deg, #acb4dd, #bed386);
    color: white;
};